markplus/Debug/*.obj
ipch/markplus-fcb72371/*.ipch
markplus/Debug/*
markplus/Release/*
Win32/*
markplus/GeneratedFiles/*
ipch/*
syntaxparse/Release/
unitTest/Release/
*.tlog
Release
/charformat/Debug
/dba/Debug
/logger/Debug
/unitTest/Debug
/syntaxparse/Debug
MpGui/Debug/
MpGui/GeneratedFiles/
/*.user
lib\

lib
